h4 {
    font-family: Verdana, sans-serif;
    margin-left: 5px;
    margin-bottom: 5px;
}

p {
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 10px;
}

#profiili {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid #64A8D1;
    border-radius: 10px;
}

#url_text {
    font-family: Verdana, sans-serif;
    color: #0969A2;
    text-decoration: none;
}

#url_text:hover {
    color: #64A8D1;
}

.div_table {
    width: 95%;
    float: left;
    background-color: #64A8D1;
    margin-left: 10px;
    padding-top: 10px;
}

.div_table_cell_1st_column {
    font-family: Verdana, sans-serif;
    float: left;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}