body {
    background-color: #D0D0D0;
	max-width: 800px
}

div {
    border-radius: 10px;
}

a:hover {
font-weight: bold;
}

#name {
    float: left;
    margin-left: 10px;
    padding-top: 10px;
    font-family: Verdana, sans-serif;
color: #ffffff;
}

#email {
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    font-family: Verdana, sans-serif;
color: #ffffff;
}

#header {
    background-color: #3D9AD1;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: -20px;
    
}
.left {
    position: relative;
    background-color: #64A8D1;
    height: 800px;
    width: 20%;
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;
}

.menu_div {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    height: 40px;
    text-align: center;
    vertical-align:middle;
    line-height: 40px;
}

.menu_item a {
    text-decoration: none;
}

#menu {
    list-style-type: none;
}

.menu_item {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -30px;
    margin-right: 10px;
    
}

.right {
    position: relative;
    background-color: white;
    height: 800px;
    width: 78%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right h4 {
    font-family: Verdana, sans-serif;
    margin-left: 5px;
    margin-bottom: 5px;
}

.right p {
    font-family: Garamond, serif;
    margin-left: 5px;
    margin-top: 0px;
}

#linkedin {
    float: left;
    margin-left: 10px;
    padding-top: 0px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#footer {
    position: relative;
    background-color: #0969A2;
    height: 50px;
    clear:both;
	width: 100%;
}
